<div>
    <h2 translate="productManagementApp.shopContent.home.title">Shop Contents</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="shop-content.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="productManagementApp.shopContent.home.createLabel">
                        Create new Shop Content
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'productManagementApp.shopContent.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="contentUrl"><span translate="productManagementApp.shopContent.contentUrl">Content Url</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="posterUrl"><span translate="productManagementApp.shopContent.posterUrl">Poster Url</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="contentType"><span translate="productManagementApp.shopContent.contentType">Content Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="posterContentType"><span translate="productManagementApp.shopContent.posterContentType">Poster Content Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="shopName"><span translate="productManagementApp.shopContent.shop">Shop</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="shopContent in vm.shopContents track by shopContent.id">
                    <td><a ui-sref="shop-content-detail({id:shopContent.id})">{{shopContent.id}}</a></td>
                    <td>{{shopContent.contentUrl}}</td>
                    <td>{{shopContent.posterUrl}}</td>
                    <td translate="{{'productManagementApp.ContentType.' + shopContent.contentType}}">{{shopContent.contentType}}</td>
                    <td translate="{{'productManagementApp.ContentType.' + shopContent.posterContentType}}">{{shopContent.posterContentType}}</td>
                    <td>
                        <a ui-sref="shop-detail({id:shopContent.shopId})">{{shopContent.shopName}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="shop-content-detail({id:shopContent.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="shop-content.edit({id:shopContent.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="shop-content.delete({id:shopContent.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
