<div>
    <h2 translate="productManagementApp.shopPropertyValue.home.title">Shop Property Values</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="shop-property-value.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="productManagementApp.shopPropertyValue.home.createLabel">
                        Create new Shop Property Value
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'productManagementApp.shopPropertyValue.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="value"><span translate="productManagementApp.shopPropertyValue.value">Value</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="accepted"><span translate="productManagementApp.shopPropertyValue.accepted">Accepted</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fromDateTime"><span translate="productManagementApp.shopPropertyValue.fromDateTime">From Date Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="toDateTime"><span translate="productManagementApp.shopPropertyValue.toDateTime">To Date Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="shopName"><span translate="productManagementApp.shopPropertyValue.shop">Shop</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="shopPropertyTitle"><span translate="productManagementApp.shopPropertyValue.shopProperty">Shop Property</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="shopPropertyValue in vm.shopPropertyValues track by shopPropertyValue.id">
                    <td><a ui-sref="shop-property-value-detail({id:shopPropertyValue.id})">{{shopPropertyValue.id}}</a></td>
                    <td>{{shopPropertyValue.value}}</td>
                    <td>{{shopPropertyValue.accepted}}</td>
                    <td>{{shopPropertyValue.fromDateTime | date:'medium'}}</td>
                    <td>{{shopPropertyValue.toDateTime | date:'medium'}}</td>
                    <td>
                        <a ui-sref="shop-detail({id:shopPropertyValue.shopId})">{{shopPropertyValue.shopName}}</a>
                    </td>
                    <td>
                        <a ui-sref="shop-property-detail({id:shopPropertyValue.shopPropertyId})">{{shopPropertyValue.shopPropertyTitle}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="shop-property-value-detail({id:shopPropertyValue.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="shop-property-value.edit({id:shopPropertyValue.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="shop-property-value.delete({id:shopPropertyValue.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
