
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myUserNewPlaceLabel" translate="productManagementApp.userNewPlace.home.createOrEditLabel">Create or edit a User New Place</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.userNewPlace.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.userNewPlace.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="productManagementApp.userNewPlace.longitude" for="field_longitude">Longitude</label>
            <input type="number" class="form-control" name="longitude" id="field_longitude"
                    ng-model="vm.userNewPlace.longitude"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="productManagementApp.userNewPlace.latitude" for="field_latitude">Latitude</label>
            <input type="number" class="form-control" name="latitude" id="field_latitude"
                    ng-model="vm.userNewPlace.latitude"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="productManagementApp.userNewPlace.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.userNewPlace.description"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="productManagementApp.userNewPlace.status" for="field_status">Status</label>
            <select class="form-control" name="status" ng-model="vm.userNewPlace.status" id="field_status">
                <option value="CREATE" translate="productManagementApp.UserNewPlaceStatus.CREATE">CREATE</option>
                <option value="APPROVED" translate="productManagementApp.UserNewPlaceStatus.APPROVED">APPROVED</option>
                <option value="REJECT" translate="productManagementApp.UserNewPlaceStatus.REJECT">REJECT</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" translate="productManagementApp.userNewPlace.createDate" for="field_createDate">Create Date</label>
                <div class="input-group">
                    <input id="field_createDate" type="text" class="form-control" name="createDate" datetime-picker="{{dateformat}}" ng-model="vm.userNewPlace.createDate" is-open="vm.datePickerOpenStatus.createDate"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('createDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label translate="productManagementApp.userNewPlace.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.userNewPlace.userId" ng-options="user.id as user.login for user in vm.users"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
